<div id = "face-new">
<svg version="1.2" baseProfile="tiny" width="200px" height="200px" viewBox="0 0 400 600" preserveAspectRatio="xMinYMin meet">

	<path class = "face" d="M 200,100c 0,0 180,-10 180,200c 0,0 0,210 -180,200c 0,0 -180,10 -180,-200c 0,0 0,-210 180,-200" fill="#a67352" transform="scale(0.914817561628297 1), translate(18.622825346746858 0)"></path>

	<path class = "eyebrow" d="M 105,240c 0,0 -3,<%=-60%> 80,0" stroke="#000" stroke-width="8" fill="none"></path>
	<path class = "eyebrow" d="M 235,240c 0,0 63,<%=-60%> 60,0" stroke="#000" stroke-width="8" fill="none"></path>

	<path class ="outter_eye" d="M 135,300a <%=20%>,<%=30%> 0 1 1 0.1,0" stroke="#000" stroke-width="6" fill="#f0f0f0" transform="rotate(-6.303915467578918 135.0500030517578 280.00001525878906)"></path>
	<path class ="outter_eye"d="M 265,300a <%=20%>,<%=30%> 0 1 1 0.1,0" stroke="#000" stroke-width="6" fill="#f0f0f0" transform="rotate(6.303915467578918 265.0500259399414 280.00001525878906)"></path>

	<path class = "inner-eye" d="M 135,288a <%=16%>,<%=16%> 0 1 1 0.1,0" transform="rotate(-6.303915467578918 135.0500030517578 280.0000305175781)"></path>	
	<path class = "inner-eye" d="M 265,288a <%=16%>,<%=16%> 0 1 1 0.1,0" transform="rotate(6.303915467578918 265.05001068115234 280.0000305175781)"></path>

	<path class = "nose" d="M 170,330l 30,<%=20%>l 30,<%=-20%>" stroke="#000" stroke-width="6.65220694086943" fill="none" transform="scale(1.2026084081735462 1.2026084081735462), translate(-33.69482647826426 -58.12357567500585)"></path>

	<path class = "mouth" d="M 145,410 a 10,<%=5%> 0 1 0 110,0"></path>

	<path class = "hair" d="M 25,250a 150,<%=210%> 0 1 1 352,0c 0,0 -180,-150 -352,0" transform="scale(0.914817561628297 1), translate(18.7159408942141 0)"></path>
</svg>
</div>
