<%#= @face_feature%>
<div id = "face-new">	
<svg version="1.2" baseProfile="tiny" width="200px" height="200px" viewBox="0 0 400 600" preserveAspectRatio="xMinYMin meet">

	<path class = "skin" d="M 200,100c 0,0 180,-10 180,200c 0,0 0,210 -180,200c 0,0 -180,10 -180,-200c 0,0 0,-210 180,-200" fill="#a67352" transform="scale(0.914817561628297 1), translate(18.622825346746858 0)"></path>

	<path class = "eyebrow" d="M 110,230 a 10 <%=@face_feature['sadness']%> 0 0 <%=@face_feature['eyebrow']%> 60 0 " stroke="#000" stroke-width="8" fill="none"></path>
	<path class = "eyebrow" d="M 248,230 a 10 <%=@face_feature['sadness']%> 0 0 <%=@face_feature['eyebrow']%> 60 0 " stroke="#000" stroke-width="8" fill="none"></path>

	<path class ="outter_eye" d="M 135,300a <%=@face_feature['disgust']%>,<%=@face_feature['surprise']%> 0 1 1 0.1,0" stroke="#000" stroke-width="6" fill="#f0f0f0" transform="rotate(-6.303915467578918 135.0500030517578 280.00001525878906)"></path>
	<path class ="outter_eye"d="M 265,300a <%=@face_feature['disgust']%>,<%=@face_feature['surprise']%> 0 1 1 0.1,0" stroke="#000" stroke-width="6" fill="#f0f0f0" transform="rotate(6.303915467578918 265.0500259399414 280.00001525878906)"></path>

	<path class = "inner-eye" d="M 135,288a <%=@face_feature['fear']%>,<%=@face_feature['anticipation']%> 0 1 1 0.1,0" transform="rotate(-6.303915467578918 135.0500030517578 280.0000305175781)"></path>	
	<path class = "inner-eye" d="M 265,288a <%=@face_feature['fear']%>,<%=@face_feature['anticipation']%> 0 1 1 0.1,0" transform="rotate(6.303915467578918 265.05001068115234 280.0000305175781)"></path>

	<path d = "m 200 290 a 0 0 0 0 0 -10 50" stroke ="black" stroke-width = "9" fill= "none"></path>
	<circle cx = "185" cy= "350" r ="6" fill="black"></circle>
	<circle cx = "215" cy= "350" r ="6" fill="black"></circle>


	<path class = "mouth" d="M 145,410 a 10,<%=@face_feature['joy']%> 0 1 <%=@face_feature['mouth_direction']%> 110,0"></path>

	<path class = "hair" d="M 25,230a 150,<%=@face_feature['anger']%> 0 1 1 352,0c 0,0 -180,-150 -352,0" transform="scale(0.914817561628297 1), translate(18.7159408942141 0)"></path>
</svg>
</div>
